body {
    margin: 0;
    height: 100vh;
    background-image: url('image/background_uranus.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.image-cliquable {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 10vw;
    height: auto;
    transition: transform 0.3s ease;
}

.image-cliquable:hover {
    transform: scale(1.5);
}

.fusee-image {
    position: absolute;
    bottom: 2.5%;
    left: 3.5%;
    width: 7vw;
    height: auto;
    z-index: 1;
    transform: rotate(-45deg);
}

.page-title {
    text-align: center;
    font-size: 36px;
    color: white;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
}

.rectangle {
    position: absolute;
    width: 20vw;
    max-height: 30vh;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
    top: calc(15vh);
    left: calc(10vw);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
}

.blue-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
}

.blue-table td, .blue-table th {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.blue-table {
    background-color: #2646a2;
    color: white;
}
